body {
    background-color: #f5f7fa;
    font-family: 'Arial', sans-serif;
}

h1, h4 {
    color: #333;
}

p.lead {
    color: #777;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.position-fixed {
    z-index: 1050; /* Ensure button appears on top */
}

.btn-secondary {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
}

